---
layout: "layouts/page-no-reading.njk"
eleventyNavigation:
  key: Blog
  parent: En savoir plus
title: Blog
---

<ul>
  {% for post in collections.posts %}
    <li>
      {{ post.date.toLocaleDateString('fr-FR') }}
      <a href="{{ post.url | url }}">
        {% if post.data.title %}{{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      {{ post.data.summary }}
    </li>
  {% endfor %}
</ul>
