---
layout: "layouts/base.njk"
---

{#--WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container  pt-5">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <div class="row mb-1" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-10 mr-auto mb-4">

            <h1 class="text-black">A<span class="text-primary">𝝻</span>RorA<span class="text-primary">-5R.</span><br>

            </h1>
            <h2>
              Valoriser les incertitudes des marchés en rupture, en faisant l’expérience de la confiance.
            </h2>
            <p>
              <a href="{{ '/content/Infographie-AuRorA-5R.pdf'|url }}" class="btn  btn-outline-dark">AuRorA-5R en 3 pages
              </a>
            </p>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="site-section " id="intro-section">
  <div class="container">

    {% set boxes = collections.line1 %}
    {% include "partials/boxes.njk" %}
    {% set boxes = collections.line2 %}
    {% include "partials/boxes.njk" %}

  </div>
</div>

{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}

{#--Offre-------------------------------------------------------------------------------------#}
<div class="site-section" id="offre-section" ">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center  mb-5">
        <h2 class="section-title">Nos offres</h2>
      </div>
    </div>
    {% set boxes = collections.offres %}
    {% include "partials/boxes2.njk" %}
  </div>
</div>

{#--NEWS  -------------------------------------------------------------------------------------#}

<div class="site-section " id="blog-section">
  <div class="container">
    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Actualités</h2>
        <a href="/inscription" class="btn  btn-outline-dark">S'inscrire à la newsletter pour ne rien rater</a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row  justify-content-center">
        {% set atPost = 0 %}
        {% set nb1 = collections.posts | length %}
        {% for post in collections.posts %}
          {% if atPost < 3 %}
            <div class="card-deck mx-2" style="margin-bottom:3rem;">
              <div class="card unit-8" style="width:20rem;">
                <img class="card-img-top" src="{{post.url | url}}/images/{{post.data.cover}}" alt="illustration de {{post.title}}">
                <div class="card-body">
                  <h3 class="card-title">{{ post.data.title }}</h3>
                  <div class="meta">{{ post.data.author }}
                    <span class="mx-2">-</span>
                    {{ post.date.toLocaleDateString('fr-FR') }}
                  </div>

                  <p>
                    {{ post.data.summary }}
                  </p>

                  <p>
                    <a href="{{post.url |url }}">Lire la suite...</a>
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
          {% set atPost = atPost + 1 %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{#--END NEWS  -------------------------------------------------------------------------------------#}

{#--TEAM-------------------------------------------------------------------------------------#}
<div class="site-section" id="our-team-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center  mb-5">
        <h2 class="section-title">L'équipe</h2>
        <p class="lead"></p>
      </div>
    </div>

    <div class="row">
      {% for bio in collections.bios %}
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure><img src="{{ bio.url | url}}/images/{{bio.data.cover }}" alt="Photo de {{ bio.data.name }}" width="200px">
              </figure>
              <div class="social">
                <a href="{{ bio.data.linkedin |url }}">
                  <p class="hiddentext" style="display: none;">Linkedin de
                    {{ bio.data.name }}
                  </p>
                  <span class="icon-linkedin"></span>
                </a>

              </div>
            </div>
            <h2 class="text-black h1">{{ bio.data.name }}</h2>
            <span class="sub-title d-block mb-3">{{ bio.data.title }}</span>
            <p>{{ bio.data.bio }}</p>

          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
{#--END TEAM  -------------------------------------------------------------------------------------#}

{#--CONTACT  -------------------------------------------------------------------------------------#}
<div class="site-section bg-light" id="contact-section">
  <div class="container">
    <div class="row  justify-content-center text-center" data-aos="fade-up"></div>
    <div class="row justify-content-center text-center pt-3">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <a href="mailto:contact@aurora-5r.fr" target="_blank" class="btn btn-primary">Ecrivez-nous</a>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <a href="/inscription" class="btn btn-primary">Inscrivez-vous à la newsletter</a>
      </div>
    </div>

  </div>

</div>
{#--END CONTACT  -------------------------------------------------------------------------------------#}

<div class="site-section" id="fondateurs-section">
  <div class="container">
    <div class="row justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center">
        <h3>Membres Fondateurs</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="h-entry">

          <img src="images/logo-udimec.png" alt="logo udimec">

        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="h-entry">
          <img src="images/logo-INP.png" alt="logo inp">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="h-entry">

          <img src="images/logoCCI.jpg" alt="logo CCI">

        </div>
      </div>

    </div>

  </div>
</div>

<div class="site-section" id="partenaires-section">
  <div class="container">
    <div class="row justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center">
        <h3>Partenaires</h3>
      </div>
    </div>
    <div class="row align-items-stretch justify-content-center">

      <div class="col-lg-4 col-md-6">
        <div class="person">
          <div class="bio-img">
            <figure>
              <a href="https://www.alma.fr/">
                <img src="images/logo-alma.svg" alt="logo alma">
              </a>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="person">
          <div class="bio-img">
            <figure>
              <a href="https://www.linkedin.com/in/pierric-d-0aa05557/">
                <img src="images/logo-SDOD.png" alt="logo SDOD">
              </a>
            </figure>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
