<!DOCTYPE html>
<html lang="en">

  {#-- HEAD ------------------------------------------------------------------------------------#}

  <head>
    <title>AuRorA-5R</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" as="style">

    {% bundledCss %}
    {% seo "" %}

  </head>

  {#-- END HEAD ------------------------------------------------------------------------------------#}
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-3 col-xl-4  d-block">
              <h1 class="mb-0 site-logo">
                <a href="/index.html" class="text-black h2 mb-0">A<span class="text-primary">𝝻</span>RorA<span class="text-primary">-5R.</span>
                </a>
              </h1>
            </div>
            <div class="col-12 col-md-9 col-xl-8 main-menu">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                  {% set mainNavLeft = collections.all | eleventyNavigation("mainleft") %}
                  {%- for nav in mainNavLeft -%}
                    <li>
                      <a class="nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>
                    </li>

                  {%- endfor -%}

                  {% set actionNav = collections.all | eleventyNavigation("Nos actions") %}
                  <li class="has-children">
                    <nav-title>
                      Nos actions
                    </nav-title>
                    <ul class="dropdown arrow-top">
                      {%- for nav in actionNav -%}
                        <li>
                          <a class="nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>

                        </li>
                      {%- endfor -%}

                    </ul>
                  </li>
                  {% set actionNav = collections.all | eleventyNavigation("Nous rejoindre") %}
                  <li class="has-children">
                    <nav-title>

                      Nous rejoindre
                    </nav-title>

                    <ul class="dropdown arrow-top">
                      {%- for nav in actionNav -%}
                        <li>
                          <a class="nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>

                        </li>
                      {%- endfor -%}

                    </ul>
                  </li>
                  {% set plusNav = collections.all | eleventyNavigation("En savoir plus") %}
                  <li class="has-children">
                    <nav-title>
                      En savoir plus
                    </nav-title>
                    <ul class="dropdown arrow-top">
                      {%- for nav in plusNav  -%}
                        <li>
                          <a class="nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>

                        </li>

                      {%- endfor -%}
                    </ul>
                  </li>
                  {% set mainNavRight = collections.all | eleventyNavigation("mainright") %}

                  {%- for nav in mainNavRight -%}
                    <li>
                      <a class="nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>
                    </li>

                  {%- endfor -%}
                </ul>
              </li>

            </ul>
          </nav>
        </div>

        <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0">
          <a href="#" class="site-menu-toggle js-menu-toggle text-black float-right">
            <span class="icon-menu h3"></span></a>
        </div>

      </div>
    </div>

  </header>

  {#-- END MAIN MENU ------------------------------------------------------------------#}

  <div>
    {% block content %}

      {{ content|safe }}

    {% endblock content %}
  </div>

  {#-- FOOTER  ------------------------------------------------------------------#}
  <div class="footer py-5 text-center">
    <div class="container">

      <div class="row mb-5">
        <div class="col-12">
          <p class="mb-0">

            {%- for nav in bottomNav | reverse -%}
              <a class="p-3" href="{{ nav.url | url }}">{{ nav.title }}</a>
            {% endfor %}

          </p>

          <p class="mb-0">

            <a href="https://www.linkedin.com/company/aurora-5r" class="p-3" title="linkedin">
              <span class="icon-linkedin" aria-hidden="true"></span>
              <span class="sr-only">linkedin</span>
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>

  {#-- FOOTER  ------------------------------------------------------------------#}

</div>

<!-- .site-wrap -->

{% bundledJs %}

</body>
</html>
