{% extends "layouts/base.njk" %}

{% block content %}
  <div class="site-section">
    <div class="container sp pt-5" style="padding-top: 150px !important;">
      <div class="row justify-content-md-center pt-100">
        <div class="col">
          <div class="markdown-content">
            <h2 class="page-title">
              {{ title }}
            </h2>

            {{content | safe}}

            <div class="list-group mb-1 px-0">

              {% for offre in collections.recrutements %}

                <a href="{{ offre.url |url }}" class="list-group-item list-group-item-action list-group-item-light mb-1">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-0 mt-0">{{ offre.data.title}}</h5>
                    <span class="badge bg-primary text-white rounded-pill mb-0 mt-0">{{ offre.data.type}}</span>
                  </div>
                  <p class="mb-0 mt-0">
                    {{ offre.data.location}}
                  </p>
                </a>
              {% endfor %}
            </div>
          {% endblock content %}>
