---
layout: "base.njk"
---
{#--WELCOME MESSAGE ------------------------------------------------------------------------#}

 <div class="site-blocks-cover" style="overflow: hidden;height:40vh !important; min-height:400px !important ">
  <div class="container  pt-5;"style="padding-top: 100px !important;" >

    <div class="row align-items-center justify-content-center" style="height:30vh !important; min-height:100px !important">
      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
        {# <img src="/images/ramp.svg" alt="image" class="img-fluid img-absolute"> #}
        <div class="row">
          <div class="col-md-8 mr-auto">
            <h1>Communiqué de presse 10 septembre 2030 </h1>
            <h5>
              En 2030, nous ne savons ce que sera #AuRorA, mais nous savons ce que nous aimerions arriver à construire, et pour décrire cette ambition nous avons écrit ce communiqué de presse fictif.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-section">

  <div class="container" >
    <div class="row justify-content-md-center pt-100">

      <div class="col-md-10">
          <hr/>

        <div class="meta mb-4"><span class="mx-2">&bullet;
          </span>Grenoble <span class="mx-2">&bullet;
          </span>
          10 Septembre 2030
          <span class="mx-2">&bullet;
          </span>
        </div>
          <hr/>
        <h3>#AuRorA annonce la finalisation du 1000eme projet 5R et le lancement de #AuRorA-Italia.</h3>
  <hr/>
        <p>
        Ce mardi 10 septembre,  en présence de Guido Rossi gérant de “Rossi e fratelli” une entreprise de mécanique basée à Palerme (Italie) porteur du projet “Idrogeno Mio”  l’équipe de #AuRorA a annoncé le lancement de #AuRorA-Italia.
        <br>
        Le projet “Idrogeno Mio” fruit d’une collaboration entre Rossi e Fratelli,  l’université de Messine et les équipes du  CEA  de Grenoble  a consisté à concevoir et commercialiser sur le marché une machine à glace à l’italienne multifonction alimentée par une pile à hydrogène. Cette nouvelle machine autonome et alimentée par une énergie propre peut également être utilisée comme point de fourniture d’électricité mobile.
        Les plans de conception de la source d’énergie, du  circuit d’alimentation électrique ainsi que le code source de l’application de pilotage associée ont par ailleurs été rendu disponibles sous licence Creative Commons pour permettre une utilisation pour la fourniture d’électricité dans des communautés n’y ayant pas accès.
        <br>
        “Aujourd’hui nous célébrons le succès du 1000eme projet 5R qui est aussi le 1er projet mené à bien par l’équipe de #AuRorA-Italia s’est félicité Chiara Bartolotti présidente. Porté par une entreprise existante qui avait besoin d’évoluer pour accéder à de nouveaux marchés il met en oeuvre des innovations de pointes dans le domaine de l’énergie et a réuni une équipe constituée de jeunes diplômés et d’experts expérimentés. L’approche 5R a permis d’aller au delà de l’ambition initiale de moderniser le marché de la machine à glace à l’italienne pour proposer une station de fourniture d’énergie verte autonome selon un modèle de partage de la valeur équitable.”
        <br>
        Pour Guido Rossi “Ce projet j’y pensais depuis longtemps, comme un rêve inaccessible par manque de temps, et de quelques compétences. L’approche de #AuRorA que j’avais du mal à comprendre au début a démontré toute sa pertinence, le produit est aujourd’hui commercialisé et nous avons pu déjà embaucher 15 personnes supplémentaires pour accompagner sa montée en puissance.  Au delà de la réussite technique, je  suis particulièrement reconnaissant à Chiara et son équipe de nous avoir convaincu de fournir la technologie de manière gratuite pour une utilisation dans des zones défavorisées, c’est aujourd’hui une véritable fierté et une grande motivation pour l’ensemble de mes équipes”.
        </p>
        <div style="font-size:0.75rem">
        Information Société #AuRorA : SCIC au capital de 250 000€ #AuRorA a été créé en septembre 2020 pour participer à la relance de l’économie fortement impactée par la crise de la COVID-19 en accompagnant les PMEs dans leurs projets innovants et en aidant les jeunes fraîchement diplomés à trouver un premier emploi. #AuRorA est à l'origine de la méthode 5R (Réseau, Réaliste, Réactif, Résilient et Responsable) de partage de valeur, de sélection et de gestion des projets et des principes du BBG (Bâtir sur l’essentiel, Bousculer les frontières, Gouverner en transparence) qui sont aujourd’hui reconnus comme des standards dans toute l’Europe au sein des 100 filiales de #AuRorA en Europe.
        </div>

      </div>

    </div>

  </div>
</div>

