---
layout: "base.njk"
---
{#--WELCOME MESSAGE ------------------------------------------------------------------------#}

<div class="site-blocks-cover" style="overflow: hidden;height:40vh !important; min-height:350px !important ">
  <div class="container  pt-5;" style="padding-top: 100px !important;">

    <div class="row align-items-center justify-content-center" style="height:30vh !important; min-height:100px !important">
      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
        {# <img src="/images/ramp.svg" alt="image" class="img-fluid img-absolute"> #}
        <div class="row">
          <div class="col-md-10 mr-auto">
            <h1>FAQ</h1>
            <h4>
              Tout ce que vous avez toujours voulu savoir sur AuRorA-5R sans jamais oser le demander, ou en le pensant fort mais sans le dire : c’est là, juste en dessous, alors bonne lecture !
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-section">

  <div class="container sp pt-5">
    <div class="row justify-content-md-center pt-100">
      <div class="col-md-10">
        <p></p>
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
          <div class="container">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                      Que signifie AuRorA-5R ?
                    </a>
                  </h5>
                </div>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                  <div class="panel-body px-3 mb-4">
                    <p>"AuRorA" fait référence à la Région Auvergne-Rĥone-Alpes (Aura) dans laquelle son action s'inscrit. "AuRorA" sonne comme “Aurore”, le début d’un nouveau jour porteur de promesses et de potentialités.<br>
                      "5R" fait référence au
                      <a href="/presentations/02-approche">référentiel</a>
                      que nous utilisons pour évaluer les projets.
                    </p>

                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      Que sera AuRorA-5R dans 10 ans ?
                    </a>
                  </h5>
                </div>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                  <div class="panel-body px-3 mb-4">
                    <p>Il est difficile de répondre à cette question, car l’aventure s’annonce intense. Pour décrire notre ambition nous avons écrit un communiqué de presse fictif qui serait envoyé en Septembre 2030 :
                      <a href="/cp2030" class="btn-outline-primary btn-sm">
                        Communiqué de Presse 2030
                      </a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                      Pourquoi avoir choisi de faire une SCIC ?
                    </a>
                  </h5>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                  <div class="panel-body px-3 mb-4">
                    <p>Choisir le modèle juridique de la SCIC (Société coopérative d’intérêt collectif) est une façon d’appliquer le modèle que nous pronons en terme de gouvernance et de partage de la valeur et évite la spéculation sur la valeur de l'entreprise.
                    </p>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                      Quel est le business model de AuRorA-5R ? Sans subventions AuRorA-5R pourrait exister ?
                    </a>
                  </h5>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>
                      L’activité de AuRorA-5R est financée par les PMEs pour lesquelles les projets sont réalisés. Notre constat est que les projets de transformation des PMEs ne se réalisent pas par manque de temps, de certaines compétences, de réseau (et c’est là que AuRorA-5R intervient) mais également par manque de trésorerie disponible pour les financer. C’est pour cela que les PMEs que AuRorA-5R accompagne bénéficient souvent d’aides (Avances remboursables, subventions) qui lui donnent la possibilité de financer les projets.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                      Vous écrivez que parfois vous n'intervenez pas sur des projets car ils ne sont pas "5R". Est-ce déjà arrivé ?
                    </a>
                  </h5>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>
                      Effectivement, notre vocation est d'agir pour les transitions vers une économie plus résiliente et responsable et le référentiel 5R nous permet d'évaluer l'impact des projets pour s'assurer qu'il est positif.<br>
                      Par exemple, nous avons été sollicité pour accompagner une entreprise d'embouteillage et vente d'eau de source à se redresser. Nous avons passé du temps à chercher des solutions pour supprimer l'impact écologique lié à la vente d'eau en bouteille (déchets, transport).
                      <br>
                      Nous avons conclu que le commerce d'eau en bouteille n'est pas compatible avec le modèle 5R et de nous focaliser sur des projets améliorant la qualité de l'eau courante distribuée.<br>
                      Nous avons donc décidé de ne pas faire ce projet.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                      Vous écrivez que le numérique est un moteur pour vos projets. Mais le numérique est-ce vraiment 5R ? Quid de l'impact écologique lié au cloud, à la 5G, ... ?
                    </a>
                  </h5>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>
                      Notre conviction est que la société est en profonde mutation du fait du numérique et qu'un enjeu est d'agir pour que cette transformation soit vertueuse.
                      <br>L'impact écologique du numérique est un sujet important même si il est difficile à évaluer faute de mesures fiables.
                      <br>Concrètement, notre expertise nous permet d'utiliser le numérique de manière innovante et pragmatique pour en faire un véritable atout pour les entreprises que nous accompagnons tout en agissant pour un numérique responsable.<br>
                      Nous nous appliquons à nous-mêmes ce que nous pronons, ce site web a été conçu pour être très peu consommateur en ressources.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                      Imposer d’être conforme au 5R n'est-il pas une utopie qui va bloquer votre action ?
                    </a>
                  </h5>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>
                      Le référentiel 5R nous permet d’évaluer l’impact des projets. Notre objectif est l’amélioration de la situation par rapport à l’existant. Nous ne sommes pas dans la recherche d’une absolue perfection.<br>
                      Bien évidemment plus les pas sont grands, plus le projet sera considéré.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                  <h5 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                      Croyez vous que la technologie est la réponse aux défis du 21 siécle ?
                    </a>
                  </h5>
                </div>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                  <div class="panel-body px-3 mb-4">
                    <p>
                      Le développement économique et ses bienfaits repose entre autre sur les évolutions technologiques, dont les conséquences non contrôlées et les excès ont conduit au problématiques environnementales et sociales que nous devons maintenant affronter.<br>
                      Nous croyons dans une ingénierie de transition qui permet de concilier développement économique épanouissement des individus et de la société et respect de l'environnement et des écosystèmes.

                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </div>
    </div>
  </div>
</div>
