---
layout: "base.njk"
---

{#--WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container  pt-5">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <img src="/images/ramp.svg" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1>Accélérateur et amplificateur de projets innovants de transition.</h1>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}

<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center  mb-5">
        <h2 class="section-title">#AuRorA est en phase de lancement.</h2>
        <p class="lead">L'idée d'#AuRorA a germé en mai 2020. Les premiers projets démarreront en septembre 2020.</p>

      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3 ">
            <span class="icon-wrap" style="background-color:#6282c2">
              <span class="text-danger icon-store_mall_directory"></span></span>
          </div>
          <div>
            <h3>PMEs</h3>
            <p>Nous vous accompagnons dans dans vos projets innovants pour construire le monde d'après.</p>
            <p>
              <a href="/pmes" class="btn btn-primary">
                En savoir plus
              </a>

            </p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap" style="background-color:#ee3530">
              <span class="text-primary icon-account_circle"></span></span>
          </div>
          <div>
            <h3>Jeunes diplômés</h3>
            <p>Nous vous permettons de vous lancer dans la vie professionnelle en participant aux projets.</p>

            <p>
              <a href="/jeunes" class="btn btn-primary">
                En savoir plus
              </a>
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap" style="background-color:#57c79a">
              <span class="text-primary icon-domain"></span></span>
          </div>
          <div>
            <h3>Entreprises partenaires</h3>
            <p>Nos projets ont besoin du savoir-faire de vos experts via du mécénat de compétences.</p>
            <p>
              <a href="/partenaires" class="btn btn-primary">
                En savoir plus
              </a>
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="feature-big">
  <div class="container">

    {% for presentation in collections.presentations %}
      <div class="row mb-5 site-section">
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">{{ presentation.data.title }}</h2>
          <p class="mb-4">
            {{ presentation.data.description }}</p>

          <div class="author-box" data-aos="fade-left">
            <div class="d-flex mb-4">

              <div class="mr-auto text-black">
                <strong class="font-weight-bold mb-0"></strong>
                <br>
                {{ presentation.data.subtitle }}
              </div>
            </div>
            <blockquote>
              {{ presentation.data.subdescription }}</blockquote>
          </div>
        </div>
        <div class="col-lg-7" data-aos="fade-right">
          <img src="{{ presentation.data.image }}" " alt=" Image" class=" img-fluid"=" img-fluid""="img-fluid" "">
          {% if presentation.data.detail %}

            <a href="{{ presentation.url }}" class="btn btn-primary">
              En savoir plus
            </a>
          {% endif %}
        </div>
      </div>

    {% endfor %}

  </div>

  {#--ABOUT -------------------------------------------------------------------------------------#}

  <div class="site-section bg-light" id="about-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">A propos de nous</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="images/johann-siemens-EPy0gBJzzZU-unsplash.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 ml-auto pl-lg-5">
          <h2 class="text-black mb-4 h3 font-weight-bold">Vocation</h2>
          <p class="mb-4">Notre vocation est de mettre la finance au service de l’économie, l’économie au service de la société et la société au service de l’accomplissement de l’individu.<br>
            Notre structure est une SCIC, Société Coopérative d'Intérêt Collectif, miroir de l’approche collaborative et du modèle 5R.</p>

          <!-- <p> <a href="#" class="btn btn-primary">En savoir plus</a> </p> -->
        </div>
      </div>

    </div>
  </div>
  {#--END ABOUT  -------------------------------------------------------------------------------------#}

  {#--TEAM-------------------------------------------------------------------------------------#}
  <div class="site-section" id="our-team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
        <div class="col-7 text-center  mb-5">
          <h2 class="section-title">L'équipe</h2>
          <p class="lead"></p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/PE.jpeg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="" https://www.linkedin.com/in/pem-frot-1304g73/"=" https://www.linkedin.com/in/pem-frot-1304g73/""="https://www.linkedin.com/in/pem-frot-1304g73/" "">
                  <span class="icon-linkedin"></span></a>

              </div>
            </div>
            <h2 class="text-black h1">Pierre-Emmanuel Frot</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>
            <p></p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/L.jpeg" alt="Image" class="img-fluid" height="500px">
              </figure>
              <div class="social">
                <a href="https://fr.linkedin.com/in/laurentmaumet">
                  <span class="icon-linkedin"></span>
                </a>

                <a href="https://twitter.com/lmau">
                  <span class="icon-twitter"></span>
                </a>
              </div>
            </div>
            <h2 class="text-black h1">Laurent Maumet</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>
            <p></p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/C.jpeg" alt="Image" class="img-fluid" height="500px">
              </figure>
              <div class="social">

                <a href="https://www.linkedin.com/in/cedric-stien-b1141aa/">
                  <span class="icon-linkedin"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Cédric Stien</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>

            <p>.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {#--END TEAM  -------------------------------------------------------------------------------------#}

  {#--CONTACT  -------------------------------------------------------------------------------------#}
  <div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-6">
          <h3 class=" mb-3">Nous contacter</h3>
          <a href="mailto:contact@aurora-5r.fr" target="_blank" class="btn btn-primary">Ecrivez-nous</a>

        </div>
        {#
        <div class="col-8 align-text-center">
          <h3 class=" mb-3">Membres fondateurs</h3>

          <img class="img-responsive" src="images/logo-udimec.png" alt="Image">
          <img class="img-responsive" src="images/Grenoble INP - Établissement - Logo - 2020 (couleur, RVB).png" alt="Image">

        </div>
        #}
      </div>

    </div>
  </div>
  {#--END CONTACT  -------------------------------------------------------------------------------------#}