---
layout: "base.njk"
---

<!--WELCOME MESSAGE ------------------------------------------------------------------------------------->
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container  pt-5">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <img src="/images/ramp.svg" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1>A VENIR...</h1>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- END WELCOME MESSAGE ------------------------------------------------------------------------------------->