---
layout: "base.njk"
---
{#--WELCOME MESSAGE ------------------------------------------------------------------------#}

<div class="site-blocks-cover" style="overflow: hidden;height:40vh !important; min-height:350px !important ">
  <div class="container  pt-1;" style="padding-top: 150px !important;">

    <div class="row align-items-center justify-content-center" style="height:30vh !important; min-height:100px !important">
      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
        {# <img src="/images/ramp.svg" alt="image" class="img-fluid img-absolute"> #}
        <div class="row">
          <div class="col-md-12 mr-auto text-center">

            <h1 >Nos offres</h1>

            <h4>
              Un accompagnement adapté selon la maturité de votre projet
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-section">

  <div class="container sp pt-1">
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 " data-aos="fade-up">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3 ">
            <span class="icon-wrap">
              <span class="icon-brightness_3"></span>
            </span>
          </div>
          <div class="text-left">
            <h3>Opportunité</h3>
            <p>Vous projet est à l’état de simple idée, un concept, un rève...
              <br>
              Rencontrons-nous pour en discuter et esquisser les enjeux, et les possibles positionnements dans la chaîne de valeur.
            </p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-delay="100">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap">
              <span class="icon-brightness_2"></span>
            </span>
          </div>
          <div class="text-left">
            <h3>Structuration
            </h3>
            <p>L’objet de votre projet est posé, vous souhaitez le structurer, évaluer les aspects financiers, les ressources nécessaires, le planning.
              <br>
              Nous réalisons l'étude de positionnnement et de faisabilité 5R.

            </p>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap">
              <span class="icon-brightness_1"></span>
            </span>
          </div>
          <div class="text-left">
            <h3>Transformation
            </h3>
            <p>Votre projet est prêt à être lancé mais vous avez besoin de renfort pour le mener à bien.
              <br>
              Nous vous accompagnons pour apporter les ressources nécessaires et en assurer le pilotage avec vos équipes.
            </p>

          </div>
        </div>
      </div>

      <a href="/offres" class="btn btn-warning btn-block ">
        Contactez-nous pour discuter de votre accompagnement
      </a>

    </div>
  </div>
</div>
