---
layout: "base.njk"
---

{#--WELCOME MESSAGE -------------------------------------------------------------------------------------#}

<div class="site-blocks-cover" style="overflow: hidden;height:40vh !important; min-height:350px !important ">
  <div class="container  pt-1;" style="padding-top: 150px !important;">

    <div class="row align-items-center justify-content-center" style="height:30vh !important; min-height:100px !important">
      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
        {# <img src="/images/ramp.svg" alt="image" class="img-fluid img-absolute"> #}
        <div class="row">
          <div class="col-md-12 mr-auto text-center">

            <h1 >Nos offres</h1>

            <h4>
              Un accompagnement adapté selon la maturité de votre projet
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}

<div class="site-section" id="about-section">
  <div class="container">

    <div class="row mb-5  justify-content-center">
      <div class="col-10" data-aos="fade-right">
        <img src="/images/transcubation.png" title="Demarche transcubateur",alt="Demarche AuRorA-5R, Transcubateur" class="img-fluid shadow p-3 mb-5 bg-white rounded">
      </div>
      <div class="col-10" data-aos="fade-right">
        <img src="/images/trajectoire_transcubation.png" title="Trajectoire projet transcubateur" alt="Trajectoire projet AuRorA-5R, Transcubateur" class="img-fluid shadow p-3 mb-5 bg-white rounded">
      </div>

      <div class="col-8" data-aos="fade-right">

        <a href="mailto:contact@aurora-5r.fr" target="_blank" class="btn btn-warning btn-block ">
          Contactez-nous pour discuter de votre accompagnement
        </a>
      </div>

    </div>

  </div>
</div>
{#-- TEMOIGNAGES -------------------------------------------------------------------------------------#}

<div class="site-section testimonial-wrap" id="testimonials-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Témoignages</h2>
      </div>
    </div>
  </div>
  <div class="slide-one-item home-slider owl-carousel">

    <div>
      <div class="testimonial">
        <p class="text-black border">
          <strong>Ludovic Ouvry</strong><br>
          – Société Ouvry –
          <br>
          PME Lyonnaise au sujet du développement et de l'industrialisation du masque OCOV.
        </p>

        <blockquote class="mb-3 text-justify">
          <p>&ldquo;J'ai pu réaliser un projet en 6 semaines, qui m'aurait pris des années sans leurs différentes contributions. Ils ont su m'apporter une équipe de décideurs engagés.
            <br>Ils ont proposé et apporté des méthodes et outils pertinents à chaque fois que cela était nécessaire avec le soutien d’un réseau étendu mélangeant grands groupes et PME. L'ensemble des acteurs était aligné pour faire aboutir ce projet innovant . Leurs compétences dans l'ensemble des domaines de la chaîne de valeur, ont joué un rôle crucial pour répondre aux enjeux qui se présentaient (analyse du besoin, conception, industrialisation, Supply Chain, logistique, commercialisation,...).
            <br>Ils ont permis dans le projet du masque OCOV® d’aligner les bonnes planètes, en particulier un industriel majeur Michelin, un des plus important centre de recherche français, le CEA, des décideurs institutionnels pour valider les besoins et les premières commandes pour que ma société puisse faire émerger un projet ambitieux avec un écosystèmes créateurs de valeur tout en gardant un regard responsable et résilient sur l'ensemble de leur actions. .&rdquo;</p>
        </blockquote>

      </div>
    </div>

  </div>

</div>
{#--END TEMOIGNAGES -------------------------------------------------------------------------------------#}
