---
layout: "base.njk"
---

<!--WELCOME MESSAGE ------------------------------------------------------------------------------------->
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container  pt-5">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        <img src="/images/illustration.svg" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-6 mr-auto">
            <h1>AuRorA pour les PMEs.</h1>
            <h2>
              AuRorA accompagne vos projets innovants de transition
            </h2>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<!-- END WELCOME MESSAGE ------------------------------------------------------------------------------------->

<div class="site-section" id="features-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-9 text-center  mb-5">
        <h2 class="section-title">AuRorA en quelques mots.</h2>
        <p >...
        </p>

      </div>
    </div>
    {#
    <div class="row align-items-stretch justify-content-center">
      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3 ">
            <span class="icon-wrap" style="background-color:#6282c2">
              <span class="text-danger icon-store_mall_directory"></span></span>
          </div>
          <div>
            <h3>Compétences</h3>
            <p>
              Des compétences, complémentaires à celles disponibles au sein de la ou les PME via des équipes composées de jeunes diplômés encadrés par des professionnels expérimentés, en mécénat de compétences ou partage salarial, utilisant des méthodes et outils de gestion de projet et de l’innovation originaux centrés sur le partage de valeur et la collaboration.</p>

          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-6 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap" style="background-color:#ee3530">
              <span class="text-primary icon-store_mall_directory"></span></span>
          </div>
          <div>
            <h3>Financements</h3>
            <p>
              les financements via des subventions ou des avances remboursables (remboursement en proportion des revenus réalisés suite au projet), préparés et négociés par #AuRorA avec la ou les PME mais contractualisés directement entre les financeurs (région, BPI …) et la ou les PME
            </p>

          </div>
        </div>
      </div>
#}
  </div>
</div>
</div>
<div class="feature-big">
<div class="container">

  {#
  {% for presentation in collections.presentations %}
    <div class="row mb-5 site-section">
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">{{ presentation.data.title }}</h2>
        <p class="mb-4">
          {{ presentation.data.description }}</p>

        <div class="author-box" data-aos="fade-left">
          <div class="d-flex mb-4">

            <div class="mr-auto text-black">
              <strong class="font-weight-bold mb-0"></strong>
              <br>
              {{ presentation.data.subtitle }}
            </div>
          </div>
          <blockquote>
            {{ presentation.data.subdescription }}</blockquote>
        </div>
      </div>
      <div class="col-lg-7" data-aos="fade-right">
        <img src="{{ presentation.data.image }}" " alt=" Image" class=" img-fluid"=" img-fluid""="img-fluid" "">
        {% if presentation.page %}
          <a href="{{ presentation.url }}" class="btn btn-primary">
            En savoir savoir plus
          </a>
        {% endif %}
      </div>
    </div>

  {% endfor %}
  #}
</div>
</div>