---
layout: "base.njk"
---

{#--WELCOME MESSAGE -------------------------------------------------------------------------------------#}
<div class="site-blocks-cover" style="overflow: hidden;">
  <div class="container  pt-5">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">

        {# <img src="/images/ramp.svg" alt="Image" class="img-fluid img-absolute"> #}

        <div class="row mb-1" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-10 mr-auto mb-4">
            <h1 class="text-black">
              AuRorA<span class="text-primary">-5R.</span><br>

            </h1>
            <h2>
              Transcubateur de Territoires et de Filières.
            </h2>
            <p>
              Vivre les Transitions, en faisant l’expérience de la confiance.

            </p>
            {# <a href="/offres" class="btn btn-warning btn-block">
              Découvrir nos offres
            </a>

            <a href="/inscription" class="btn btn-block btn-outline-dark">S'inscrire à la newsletter</a> #}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="site-section " id="questions-section">
  <div class="container">
    <div class="row align-items-stretch justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

        <div class="unit-7 d-block">
          <div class="unit-7-icon mb-3">
            <span class="icon-wrap">
              <span class="text-primary"></span></span>
          </div>
          <h3 class="card-title">Créateurs / dirigeants
          </h3>
          <p>
            <a href="/dirigeants">Pourquoi Travailler avec nous sur vos projets de transitions ?

            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-7 d-block">
          <div class="unit-7-icon mb-3">
            <span class="icon-wrap">
              <span class="text-primary"></span></span>
          </div>
          <h3 class="card-title">Jeunes diplômés</h3>
          <p>
            <a href="/jeunes">
              Pourquoi nous rejoindre ?
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-7 d-block">
          <div class="unit-7-icon mb-3">
            <span class="icon-wrap">
              <span class="text-primary"></span></span>
          </div>
          <h3 class="card-title">Entreprises / institutions</h3>
          <p>
            <a href="/partenaires">Pourquoi devenir partenaires ?
            </a>
          </p>

        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
      <div class="unit-7 d-block">
        <div class="unit-7-icon mb-3">
          <span class="icon-wrap">
            <span class="text-primary"></span></span>
        </div>
        <h3 class="card-title">Pour aller plus loin</h3>
        <p>
          <a href="/jeunes">Comment vivre des transitions en confiance ?</a>
        </p>

      </div>

    </div>
  </div>
  {#--END WELCOME MESSAGE -------------------------------------------------------------------------------------#}

  {#--NEWS  -------------------------------------------------------------------------------------#}
  <div class="site-section " id="blog-section">
    <div class="container-fluid mb-5 unit-6">
      <div class="text-center mt-5">
        <h1>Our Services</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png">
              </div>
              <h4>Settings</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://i.imgur.com/KMbnpFF.png">
              </div>
              <h4>Speedup</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://i.imgur.com/AgyneKA.png">
              </div>
              <h4>Privacy</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://i.imgur.com/vdH9LKi.png">
              </div>
              <h4>Backups</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://i.imgur.com/v6OnUqu.png">
              </div>
              <h4>SSL secured</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://i.imgur.com/VzjZw9M.png">
              </div>
              <h4>Database</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section " id="blog-section">
    <div class="container">
      <div class="row mt-2 mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">News</h2>
          <a href="/inscription" class="btn  btn-outline-dark">S'inscrire à la newsletter pour ne rien rater</a>
        </div>
      </div>

      <div class="row ">

        {% set atPost = 0 %}
        {% set nb1 = collections.posts | length %}
        {% for post in collections.posts | reverse %}
          {% if atPost < 6 %}
            {#  do your processing here or include it #}

            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="h-entry">
                <a href="{{post.url}}">
                  {# {% MyResponsiveImage "src/" + post.data.cover,
                  " image" %} #}
                  {% first_image post %}
                </a>

                <h3>
                  {{ post.data.title }}
                </h3>
                <div class="meta mb-4">{{ post.data.author }}
                  <span class="mx-2">&bullet;</span>
                  {{ post.date.toLocaleDateString('fr-FR') }}

                </div>
                <summary>
                  {{ post.data.summary }}
                </summary>
                <p>
                  <a href="{{post.url}}">Lire la suite...</a>
                </p>
              </div>
            </div>
            {% endif%}
            {% set atPost = atPost + 1 %}
          {% endfor %}

        </div>
      </div>
    </div>

  </div>
  {#--END NEWS  -------------------------------------------------------------------------------------#}

  {#--TEAM-------------------------------------------------------------------------------------#}
  <div class="site-section" id="our-team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
        <div class="col-7 text-center  mb-5">
          <h2 class="section-title">L'équipe</h2>
          <p class="lead"></p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure>
                {% MyResponsiveImage "src/images/PE.jpg",
              "Photo de Pierre-Emmanuel" %}

                {# <img src="images/PE.jpeg" alt="Image" class="img-fluid"> #}
              </figure>
              <div class="social">
                <a href="https://www.linkedin.com/in/pem-frot-1304g73/">
                  <span class="icon-linkedin"></span></a>

              </div>
            </div>
            <h2 class="text-black h1">Pierre-Emmanuel Frot</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>
            <p></p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="person">
            <div class="bio-img">
              <figure>
                {% MyResponsiveImage "src/images/L.jpeg",
                "Photo de Laurent" %}
                {# <img src="images/L.jpeg" alt="Image" class="img-fluid" height="500px"> #}
              </figure>
              <div class="social">
                <a href="https://fr.linkedin.com/in/laurentmaumet">
                  <span class="icon-linkedin"></span>
                </a>

                <a href="https://twitter.com/lmau">
                  <span class="icon-twitter"></span>
                </a>
              </div>
            </div>
            <h2 class="text-black h1">Laurent Maumet</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>
            <p></p>

          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="person">
            <div class="bio-img">
              <figure>
                {% MyResponsiveImage "src/images/C.jpeg",
                "Photo de Cédric" %}
                {# <img src="images/C.jpeg" alt="Image" class="img-fluid" height="500px"> #}
              </figure>
              <div class="social">

                <a href="https://www.linkedin.com/in/cedric-stien-b1141aa/">
                  <span class="icon-linkedin"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Cédric Stien</h2>
            <span class="sub-title d-block mb-3">Fondateur</span>

            <p>.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {#--END TEAM  -------------------------------------------------------------------------------------#}

  {#--CONTACT  -------------------------------------------------------------------------------------#}
  <div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row  justify-content-center text-center" data-aos="fade-up"></div>
      <div class="row justify-content-center text-center pt-3">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <a href="mailto:contact@aurora-5r.fr" target="_blank" class="btn btn-primary">Ecrivez-nous</a>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <a href="/inscription" class="btn btn-primary">Inscrivez-vous à la newsletter</a>
        </div>
      </div>

    </div>

  </div>
  {#--END CONTACT  -------------------------------------------------------------------------------------#}

  <div class="site-section" id="contact-section">
    <div class="container">
      <div class="row justify-content-center text-center" data-aos="fade-up">
        <div class="col-7 text-center">
          <h3>Membres Fondateurs</h3>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/logo-udimec.png" alt="logo udimec" class="img-fluid" height="500px">
              </figure>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/Grenoble INP - Établissement - Logo - 2020 (couleur, RVB).png" alt="logo inp" class="img-fluid" height="500px">
              </figure>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/logoCCI.jpg" alt="logo CCI" class="img-fluid" height="500px">
              </figure>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>