<div class="timeline">
  <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
      <h3 class=" text-light">
        Présentation du concept ou du projet
      </h3>
      <p>Lors d'une première réunion sont discutés position et enjeux de la chaîne de valeur.
      </p>
    </div>
    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
      <p>
        CONCEPT</p>
    </div>
    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
      <time>Quelques heures</time>
    </div>
  </div>
  <div class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
      <h3 class=" text-light">Etude de Positionnement et de Faisabilité 5R
      </h3>
      <p>Avec une analyse de positionnement et de faisabilité, une cible 5R est définie en fonction de paramètres économiques et du positionnement dans la chaîne de valeur.
      </p>
      <img src="/images/cible_5r.png" class="img-fluid" alt="img">
    </div>
    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
      <p>
        STRUCTURER</p>
    </div>
    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
      <time>
        Quelques semaines</time>
    </div>
  </div>
  <div class="row no-gutters justify-content-end justify-content-md-around align-items-start timeline-nodes">
    <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
      <h3 class="text-light">Le projet
      </h3>
      <p>
        le projet
      </p>
      <img src="/images/trajectoire_5r.png" class="img-fluid" alt="img">
    </div>
    <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
      <p>
        EXECUTER</p>
    </div>
    <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
      <time>
        3 à 18 mois</time>
    </div>
  </div>

</div>
